body {
    font-family: Arial, sans-serif;
    background: #ead4e4;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 48px;
    font-family: "Georgia", serif;
    color: #333;
}


.dashboard {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.login-title{
    text-align: center;
    margin-top: 50px;
}

.login-form{
    width: 300px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-form input{
    padding: 8px;
}

.login-form button{
    padding: 8px;
    background: #1e88e5;
    color: white;
    border: none;
    cursor: pointer;
}

.card {
    padding: 12px 20px;
    background: #307aac;
    color: white;
    border-radius: 6px;
    font-weight: bold;
}

table {
    width: 95%;
    margin: auto;
    border-collapse: collapse;
    background: #fff;
}

th {
    background: #2c3e50;
    color: white;
    padding: 10px;
}

td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #3075a3;
}

a:hover {
    color: #222225;
}

.low {
    color: red;
    font-weight: bold;
}

.high {
    color: green;
    font-weight: bold;
}

.footer{
    margin-top: 30px;
    padding: 10px;
    text-align: center;
    font-size: 13px;
    color: #2c2c2c;
}

/* LOGOUT BUTTON */
.logout-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #dc3545;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    z-index: 1000;
}

.logout-btn:hover {
    background-color: #b52a37;
}
